@font-face {
    font-family: ok;
    src: url(./Urbanist-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ok;
}

html, body{
    width: 100%;
    height: 100%;
    scrollbar-width: none;
        background-color: rgb(255, 252, 238);
}
main{
    height: 100%;
    width: 100%;

}

nav{
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
 ul{
    display: flex;
    gap: 1.5rem;
        cursor: pointer;
 }
ul li{
    list-style: none;
    font-weight: 400;
    font-size: 1.2vmax;

}

nav h1{
    font-weight: 500;
}
.section1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.vinyl{
    position: relative;
    width: 30%;
    height: 100%;

} 
.vinyl img{
    transform: translate(-47%, -15%);
    top: 0;
    left: 0;
    position: absolute;
    height:65vw;
    animation-timing-function: linear;
    animation-name: vinylrotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@media (max-width : 768px) {
.section1{
    flex-direction: column;
}
    .vinyl{
        display: none;

} 
}
.song-details{

    width: 70%;
}
.song-details h1{
    font-size: 15vw;
    line-height: .9;
}
.song-details p{
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.song-details span{
    font-weight: 600;

}
.songs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.song-1{
        padding-right:70px;
    background-color: #fffaf3;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease .5s;
}
.cover img{
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.458);
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all ease .5s;
}
.cover img:hover{
    transform: scale(1.2);
}
.song-1:hover{
    background-color: #ffefd8;
}
.song-inner{
    display: flex;
    align-items: center;
    gap: 10px;
}

.section2{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 10%;
   backdrop-filter: blur(10px);
   box-shadow: inset 0px 20px 16px 0px #bdbdbd7d;
   display: flex;
   justify-content: center;
   align-items: center;
}

.section2 i{
    font-size: 40px;
    /* filter: invert(1); */
}
.progress{
    width: 100%;
    position: absolute;
    height: 4px;
    top: 0;
    background-color: rgb(168, 168, 168);
}
.progress2{
    left: 0; 
    width: 10%;
    position: absolute;
    height: 4px;
    top: 0;
    background-color: rgb(0, 0, 0);
}



@keyframes vinylrotation {
    from{
        transform:translate(-47%, -15%) rotate(0deg);
    }
    to{
        transform:translate(-47%, -15%) rotate(360deg);
    }
    
}