:root{
    --bg-color: rgb(0, 51, 255);
}
@font-face {
    font-family: design;
    src: url(./Coolvetica\ Rg.otf);
}
@font-face {
    font-family: italy;
    src: url(./Calaya\ Italic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    height: 100px;
        align-items: center;
        justify-content: space-around;
}
.nav img{
 height: 40px;
}
.mode{
    padding: 15px 40px;
    border-radius: 50px;
    background-color: transparent;
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
}

.person{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image{
    z-index: 1;
    position: absolute;
}
.image img{

    height: 700px;
}
.title{
    top: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title .blue{
    font-family: design;
    font-size: 400px;
    color: var(--bg-color);

}

.title .italic{
    font-family: italy ;
    letter-spacing: 20px;
    font-size: 200px;
}