@font-face {
    font-family: thin;
    src: url(./1.woff2);
}
@font-face {
    font-family: littlebold;
    src: url(./2.woff2);
}
@font-face {
    font-family: bold2;
    src: url(./3.woff2);

}
@font-face {
    font-family: boldy;
    src: url(./4.woff2);
}
@font-face {
    font-family: italy;
    src: url(./5.woff2);
}
@font-face {
    font-family:long;
    src: url(./6.woff2);
}
@font-face {
    font-family: satoshi;
    src: url(./Satoshi-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: px;
    height: 100px;
    width: 100%;

}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: thin;
    font-size: 18px;

}

ul li{

    cursor: pointer;
}

.navbtn{
    font-family: bold2;
    height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 1px 25px;
    border-radius: 50px;
    gap: 13px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}
.navbtn:hover{
    background-color: black;
    color: white;
    img{
        filter: invert(1);
    }
}

.navbtn img{
    height: 20px;
}
.name{

    font-size: 22px;
    font-family: littlebold;
}
.navbtn2{
        font-family: bold2;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 27px 45px;
    border-radius: 50px;
    gap: 13px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}
.navbtn2 img{
    height: 20px;
}

.navbtn2:hover{
    background-color: black;
    color: white;
    img{
        filter: invert(1);
    }
}


.mobile{
    position: relative;
    z-index: 1;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.italy{
    font-size: 38px;
    font-family: italy;
    text-align: center;

}

.boldy{
    font-size: 100px;
    font-family: boldy;
    text-align: center;
    
}

.thought{

    font-family: thin;
    text-align: center;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.421);
    padding-bottom: 30px;
}

.gradient{
    width: 99%;
    height: 400px;
    filter: blur(140px);
    background: linear-gradient(to bottom , rgb(255, 151, 47) ,rgb(255, 188, 120) , rgb(255, 3, 146) , rgb(241, 38, 255)   ) ;
    position: absolute;
    rotate: -4deg;
}

.iphone{
    padding-top: 50px;
position: absolute;
left: 27%;
rotate: -5deg;

}

.iphone img{
    height: 900px;
}

.whitegrad{
    height: 40%;
   width: 900px;
    background: linear-gradient(to bottom ,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.532), rgb(255, 255, 255) , white);
    position: absolute;
bottom: -32px;
right: 32px;
filter: blur(15px);

}

.info{

    display: flex;
    margin-top: 1200px;
justify-content: space-around;

}

.right{
    width: 60%;
    font-family: boldy;
    font-weight: 700;
    font-size: 70px;
    padding: 0px 100px ;
    letter-spacing: -5px;

}
.right span{
    font-family: italy;
    font-weight: 100;

}
.left{
    font-family: satoshi;
    font-weight: 600;
    font-size: 30px;
    padding-top:300px;
    text-align: left;
    letter-spacing: -1px;
    padding-right: 70px;

    
}


.tasks{
    display: flex;
    flex-direction: row;
    margin: 100px 130px;

    justify-content: space-between;

  
}
.first,.second,.third{
    h2{
        font-family: boldy;
        letter-spacing: -1px;
        padding-bottom: 20px;
    }
    p{
        font-family: thin;
            color: rgba(0, 0, 0, 0.536);
    }
    width: 28%;
}

.girl{
    color: white;
    position: relative;;
}

.girl .girlimage img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.uppertxt{
    display: flex;

    
    justify-content: center;
    gap: 240px;
    padding-top: 600px;
}
.lefttxt {
    

    span{
            font-family: italy;
    font-weight: 100;
    font-size: 30px;
    }
    
    h2{
        letter-spacing: -1px;

        font-family: boldy;
        font-size:90px
        
    }
}
.righttxt{
    margin-top: 140px;
    span{

        font-family: satoshi ;
    }
    .btn3{
    
        margin-left: 155px;
        margin-top: 15px;
    }
}
.btn3{

            font-family: bold2;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 20px 35px;
    border-radius: 50px;
    gap: 13px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    color: white;
    
}
.btn3 img{
     height: 20px;
    filter:invert() ;
}


.btn3:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    img{
        filter: invert(0);
    }
}


.grad1, .grad2{
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, rgb(213, 0, 178),rgb(247, 0, 255), rgb(255, 115, 0), rgb(255, 196, 0) ) ;
    filter: blur(80px);
}

.trust{
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h2{
        font-family: boldy;
        letter-spacing: -1px;
        font-size: 20px;
    }
    p{
        font-family: thin;
        color: rgba(0, 0, 0, 0.493);
    }
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

#box{
    background-color: rgba(211, 211, 211, 0.186);
    color: rgba(0, 0, 0, 0.455);
    border-radius: 5px;
    border: none;
    font-family: boldy;
    letter-spacing: -1px;
    padding: 30px ;
    font-size: 26px;
    font-weight: 900;
    width: 300px;


}

.imagelast{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.imagelast img{
    padding-left: 120px;
    height: 600px;
}

.imagelast .grad1{
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.footer{
    position: relative;
    height: 600px;
    background-color: black;
}

.footer .lastname{
    position: absolute;
    letter-spacing: 90px;
    color: rgba(255, 255, 255, 0.09);
    h1{
        font-size: 422px;
        font-family: satoshi;
        letter-spacing: 0px;
        padding-top: 4px;
    }

}


.buybutton{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 5;
    align-items: center;
    justify-content: center;
    font-family: boldy;
    img{
        height: 20px;
    }
    bottom: 15px;
    right: 15px;


}

.buy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 119, 255);
    color: white;
    gap: 6px;
font-family: boldy;
    width: 155px;
img{
    filter: invert();
}
    cursor: pointer;
}

.framer{
        display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    gap: 6px;
    font-family: boldy;
    cursor: pointer;
    width: 155px;
}
.change img{
    height: 20px;

}
.change{
    position:fixed;
    bottom: 20px;
    left: 20px;
    z-index: 5;
}

 .darkicon{
    background-color: rgba(255, 255, 255, 0.389);
    border: none;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.151) ;
    cursor: pointer;

}

.darkicon:hover{
    background-color: rgba(0, 0, 0, 0.489);
    img{
        filter: invert();
    }
}