*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;

} 
button{
    cursor: pointer;
    border-radius: 5px; 
}

main{
            background-image: url(./Untitled\ design\ \(34\).png); 
            
        background-position: center;
        background-size: cover; 
        background-repeat: no-repeat;
    padding-top: 100px; 
    gap: 10px;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-main{   
    border-radius: 10px; 
    backdrop-filter: blur(40px);  
    background-color: rgba(0, 0, 0, 0.479); 
    box-shadow:inset .5px .5px 0px white, .5px .5px 0px white, 8px 9px 20px 0px rgba(0, 0, 0, 0.781) ;   
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .4s ease;

}
.inner-main:hover{

    scale: 1.01;  
}
.inner-main .switch-btn button{
    color: rgb(135, 135, 135);
    padding: 5px 20px;
    background-color: rgba(94, 94, 94, 0.616);
    border: none;
    transition: all .23s ease;
    font-weight: 500;
    border-radius: 5px;  
}
.inner-main .switch-btn button:hover{
    scale: 1.05;
}
.inner-main .inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#kilogram{
    color: black;
    background-color: white; 
}
.inner-main .inputs button{
        color: rgb(0, 0, 0);
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    transition: all .5s ease;
    font-weight: 500;
    text-transform: uppercase;
      cursor: pointer;
}
.inner-main .inputs button:active{
   scale: .98;
}
input::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin-right: 0;
}

input::placeholder{
    color: rgb(111, 111, 111);
    font-weight: 600;
    font-size: 15px;
}
.inner-main .inputs input{
    padding: 5px 10px;
    border-radius: 5px; 
}

.weight-lbs{
    display: none;
}
.last-result{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.prev{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;  
    padding: 2px 5px;
}
.error{ 
    display: none; 
    width: fit-content;        
    color: rgb(255, 255, 255);   
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.529);
}

.prev-result{
    display: flex;
    gap: 20px;
    align-items: center;

}

.prev-result button{
    border: none;
    padding: 5px 20px;   
    color: rgb(255, 255, 255);
    background-color: rgb(32, 32, 32);
    transition: all ease .2s;
}

.prev-result button:active{
    scale: .95;
}
