*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: urban;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: urban;
    src: url(./Urbanist-VariableFont_wght.ttf);
}


/* Resusable Button */
#blue-btn{
    border-radius: 100px;
    font-weight: 200;
    font-size: 1rem;
    padding: .6vw 1.3vw;
    gap: .3vw;
    background-color: #0d1a2e;
    color: white;
    display: flex;
    border: none;
    align-items:center;
    transition: all ease .4s;
    cursor: pointer;
    box-shadow: inset 0px 0px 10px .4px  rgba(255, 255, 255, 0.401) ;

}
#arrow{
 
    filter: invert(1);
    rotate: -52deg;
        transition: all ease .4s;
    height: .8vw;
}
#arrow2{
 
    background-color:rgb(255, 255, 255) ;
    border-radius: 50%;
    filter: invert(1);
    rotate: -52deg;
    transition: all ease .4s;
    height:2vw;
    padding: .6vw;

}
#arrow3{
 
    box-shadow: inset 0px 0px .5px .3px black;
    border-radius: 50%;
    filter: invert(0);
    rotate: 180deg;
    transition: all ease .4s;
    height:2vw;
    padding: .6vw;

}
#arrow4{
 
    box-shadow: inset 0px 0px .5px .3px black;
    border-radius: 50%;
    filter: invert(0);
    transition: all ease .4s;
    height:2vw;
    padding: .6vw;

}


#blue-btn:hover{
        box-shadow: 0px 0px 40px 10px #3271cf ;
        transform: scale(1.05);
        background-color: white;
        color: #0d1a2e;
        font-weight: 500;
}
#blue-btn:hover #arrow{
    filter: invert(0);
}



/* navbar designing */
nav{
    position:fixed;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.43);
    width: 100%;
    height: 6vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vmax;
    z-index: 100;

}
nav a{
    text-decoration: none;
    color: #0d1a2e;
}

#abt-btn{
        font-size: 1rem;
    font-weight: 600;
    background: transparent;
    padding: .2vw .5vw ;
    border-radius: 100px;
    border: 1px solid  #0d1a2e2e;
}
.middlenav{
    font-size: 1.05rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5vw;
}
a.logo {
    font-weight: 600;
    font-size: 1.8rem;

}
.rightnav{
    display: flex;
    align-items: center;
}
.rightnav svg{
    display: none;
}

/* nav bar responsiveness */

@media (max-width : 900px) {
    .rightnav svg{
    display: flex;
}
nav #blue-btn{
    display: none;
}
.middlenav{
    display: none;
}
a.logo {
    font-weight: 600;
    font-size: 1.5rem;

}

}

/* section 1 main bg */

.section1{
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.main-bg{
    border-radius: 15px;
    margin-top: 5vmax;
    height: 85% ;
    width: 94%;
    background-image: url(https://i.pinimg.com/1200x/80/72/bc/8072bc32e18b5cea1459dadfdf57d7fe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color: #0d1a2e;


}
.hero-text{
    height: 80%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.hero-text h1{
    width: 55%;
    text-align: center;
    color: white;
    font-size: 3.6vmax;
    font-weight: 500;
    line-height: 1;
    text-shadow: 0px 0px 30px #0d1a2e,0px 0px 40px #0d1a2e,0px 0px 30px #0d1a2e ;
}
.hero-text p{
    line-height: 1;
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 1.3vmax;
    width: 45%;
        text-shadow: 0px 0px 30px #0d1a2e , 0px 0px 30px #0d1a2e, 0px 0px 10px #0d1a2e;
}

.main-bottom{
    height: 27%;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vmax;
}

.main-bottom-left{
    display: flex;
    align-items: center;
    gap:.8vw;

}
.main-bottom-left p{
    font-size: .85vmax;
    color: rgba(255, 255, 255, 0.733);
}
.persons{
    display: flex;
    background-color:rgba(255, 255, 255, 0.488);
    border-radius: 100px;
    padding: .2vw .2vw .2vw 1vw;
}
.persons img{
    border: 3px solid rgba(255, 255, 255, 0.63);
    margin-left: -12px;
    border-radius: 50%;
    height: 2.5vmax;
    object-fit: cover;
    width: 2.5vmax;
    object-position: top;
}
.social{
    opacity: .7;
    color: rgb(255, 255, 255);
}
.line{
    background-color: white;
    height: 1px;
    transition: all ease .5s;
    width: 0%;
}
.main-bottom-right:hover .line{
    width: 100%;

}

/* responsiveness of main bg  */
@media (max-width:900px) {
    .section1 #blue-btn{
        font-size: 1.2vmax;
        margin-top: 2vw;
    }
    .main-bottom-left p{
    display: none;
}
.main-bg{
    height: 87% ;
}
}


/* section2 grid */
.section2{

    width: 100%;
    padding: 1.5vmax;
}

.about-para{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 2vw;


}
.about-para p{
    width: 50%;
    font-size: 1.8vmax;
    font-weight: 500;
}

.about-middle{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px;
    gap: 3vmax;
    padding: 2vmax;
}

.middle1{
    border-radius: 40px;
    background-color: #0d1a2e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 30px;
}
.middle1 img{
    height: 5vmax;
}
.middle1 p{
    font-size: 1.6vmax;
    font-weight: 200;
}
.light-para{
    color: rgba(255, 255, 255, 0.482);
    transition: all ease .5s;
}
.court{
    display: flex;
    align-items: center;
    margin-top: 1vw;
    gap: .4vmax;
}
.court-btn{
    border-radius: 100px;
    height: 1.8vmax;
    width: 4vmax;
    background-color: #26b7ff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.court-btn-ring{
    margin-right: 35px;
    background-color:transparent;
    height: 1.4vmax;
    width: 1.4vmax;
    border: .4vmax solid white;
    border-radius: 50%;
    transition: all ease .5s;

}
.court-btn:hover .court-btn-ring {
    margin-right: 5px;
}
.court:hover .light-para{
    color: white;
}

.middle2{
    flex-shrink: 0;
    border-radius: 40px;
    flex: 1;
    background-image: url(https://i.pinimg.com/1200x/51/2e/05/512e05de40765687e9776f9980430654.jpg);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass-btn{
    position: relative;
    padding: 1vw 3vw;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    font-size: 1.2vmax;
    border: none;
    border-radius: 100px;
    font-weight: 200;
    box-shadow: inset 10px 0px 30px rgba(255, 255, 255, 0.473), inset 0px 0px 1px .05px white;
    overflow: hidden;
    cursor: pointer;
}
.trans{
    position: absolute;
    top: 0;
    left: -10;
    height: 100% ;
    width: 2%;
    filter: blur(3px);
    background-color: white;
    transition: all ease 1s;
    transform: translateX(0px);
}
.glass-btn:hover .trans{
    transform: translateX(300px);
}
.about-fact{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}
.about-fact p{
    color: #0d1a2e;
    margin-top: 1vw;
    font-weight: 500;
    font-size: 1.8vmax;
}
.about-features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 12vmax;
    margin-top: 1vw;
}
.about-features span{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vmax;
    font-weight: 600;
}
.about-features p{
    font-size: 1.2vmax;
    font-weight: 300;
    color: #0d1a2e81;
}



.middle3{
    flex-shrink: 0;
    border-radius: 40px;
    flex: 1;
    background-color: #eaeaea;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;

    flex-direction: column;

}
.middle3-top{
    width: 80%;
}
.dark-para{
    color:rgba(0, 0, 0, 0.623);
}
.middle3-top h1{
    font-size: 5vmax;
    line-height: 1;
    font-weight: 500;
}
.middle3-top p{
    font-weight: 600;
    font-size: 1.3vmax;
}
.middle3-bottom{
    display: flex;
    gap: 2vmax;
    font-weight:600 ;

}
.dots{
    display: flex;
    gap: .4vw;
    justify-content: flex-start;
}
.dotting{

    background-color: #26b7ff;
    height: 14px;
    width: 13px;
    border-radius: 50%;
}
.beginner{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: .2vw;
}
.rating{
    display: flex;
    flex-direction: column;
    gap: .68vmax;
}
/* responsive ness of section 2 */
@media (max-width:900px) {
    
    .about-middle{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:repeat(3, 1fr);
    gap: 3vmax;
    padding: 2vmax;
}

.about-para p{
    width: 50%;
    font-size: 1.4vmax;
    font-weight: 500;
}
.about-features{
    gap: 5vw;
    margin-top: 4vw;
    padding: 0px 13px;

}
.about-features span{
    font-size: 2vmax;
}
.about-features p{
    font-size: .8vmax;
}

.middle1, .middle2, .middle3{
    border-radius: 12px;
}
.middle1 p{
    font-size: 1.5vmax;
    font-weight: 200;
}
.court .light-para{
    font-size: .7rem;
}
.court-btn-ring{
    margin-right: 20px;

}
}

/*section 3  */


.section3{
    height: 100%;
    width: 100%;
    box-shadow:0px -1px 0px 0px #00000027;
    margin-top: 5vmax;
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3vmax;
    gap: 2vmax;
    height: 430px;
}
.service-1{
    border-radius: 10px;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    background-color: #0000000b;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2vmax;

}
.service-1 p{
    font-weight: 500;
    font-size: 1.7vmax;
    width: 90%;
}
.service-2{
    border-radius: 10px;
    background-image: url(https://i.pinimg.com/1200x/ad/c2/e3/adc2e32a6e7d640ab6cffb66f667d2d6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    padding:1.4vmax 1vmax ;
}
.service-2-btm{
    color: white;
    display: flex;
    align-items: center;
    gap: .5vmax;
}
.service-3{
    display: flex;
    border-radius: 10px;
    background-color: #0000000b;
    flex-direction: column;
    height: 100%;
}
.service-3top{
    height: 73%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1vmax;
    border-radius: 10px 10px 0px 0px;
    background-image: url(https://i.pinimg.com/736x/03/c6/d3/03c6d3f0a47b0ceac37cfb5bda987383.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 34%;
}
.service-3top h2{
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.989);
}
.service-3btm{
    padding: 0.2vmax 1vmax;
    flex-direction: column;
    display: flex;
    gap: 1vmax;
}
.service-3btm p{
    font-size: 1.4vmax;
}

@media (max-width:900px) {
    .services-grid{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:repeat(3,400px);
}

.service-1, .service-2, .section3{
    height: 400px;
}
.service-1 p{
    font-weight: 500;
    font-size: 3vmax;
    width: 90%;
}
    
}