@font-face {
    font-family: poppy;
    src: url(Poppins-Medium.ttf);
}

:root{
    --bg-color: #9ba8ab;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppy;

}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color:#06141b;
}


.main
{
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color:#11212d;
}

.user{
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    background-color: #253745;
    color: #d7eaef;
    padding: 20px;
}
.user img{
    height: 100px;
    border-radius: 50%;
    width: 100px;
}
h2{
    padding-bottom: 15px;


}

.aboutme{

background-color: var(--bg-color);
padding: 20px ;
margin: 20px;
border-radius: 6px;
}

.skills{
    background-color: var(--bg-color);
padding: 20px ;
margin: 1px 20px;
border-radius: 6px;
}

button{
    color: #d7eaef;
     background-color: #253745;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.experience{
        background-color: var(--bg-color);
padding: 20px ;
margin: 20px 20px;
border-radius: 6px;
}
h3{
    color:#11212d ;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul{
    padding-top: 10px;
    padding-left: 40px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
 background-color: #253745;
    padding: 20px;
gap: 15px;
    border-radius: 0px 0px 10px 10px;
    color: #d7eaef;
}

a{
    color: #43ddff;
    text-decoration: none;
}