*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: black;
    width: 100%;
    height: 100%;
}

.image{

    overflow: hidden;
    width: 500px;
    margin: 100px;
    height: 500px;
    position: relative;
}
.image img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
                transition: all ease .3s;

}
 .head{
    position: absolute;
    color: white;
    bottom: 0;
    z-index: 2;
    padding: 40px;
                transform: translateY(90%);
            transition: all ease .3s;
}

.grad{

    height: 100%;
    width: 100%;
    position: absolute;
    z-index:2;
    bottom: 0;
    border-radius: 10px;
        background: linear-gradient(to top,rgb(199, 84, 42),rgba(199, 84, 42, 0),rgba(255, 166, 0, 0), rgba(255, 166, 0, 0));
            transform: translateY(70%);
            transition: all ease .3s;
}


.image:hover .grad{
    border-radius: 10px;
    transform: translateY(0%);

}

.image:hover .head{
        transform: translateY(0%);
}

.image:hover img{
    position: absolute;
    filter: grayscale(1);
    z-index: 1;
}